extends ../partials/header.pug

block main
  div.projects-wrapper
    h1.projects-wrapper-header Projects
    div.projects-wrapper-projects
      each project in projects
        div.projects-wrapper-project
          img.projects-wrapper-project-image(src=project.image, alt=project.title)
          p.projects-wrapper-project-text= project.description
          a(href=project.link) #{project.title}
